
@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./woff2/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

img {
    display: block;
}


::-moz-selection {
    background: #bcdefd;
    color: #2a2a2a;
}

::selection {
    background: #bcdefd;
    color: #2a2a2a;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 5px;
    /* 스크롤바의 길이 */
    background: #3361A5;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /*스크롤바 뒷 배경 색상*/
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    min-width: 1280px;
    color: #2a2a2a;
}

.header_wrap {
    height: 75px;
    position: relative;
    /* background-color: #eee; */
}

#header {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

/* 헤더 왼쪽 */
#header .logo {
    width: 122px;
    height: 32px;
    float: left;
}

#gnb {
    display: inline-block;
}

/* 헤더 가운데 */
#gnb>li {
    font-family: 'Pretendard-midium';
    float: left;
}

#gnb>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 35px;
    margin-top: 7px;
    padding: 5px 20px 20px;
    font-weight: 600;
    /* background-color: pink; */
}

#gnb>li>a:hover {
    color: #3361A5;
}

/* 헤더 오른쪽 */
#header .top_link {
    float: right;
    padding-top: 10px;
}

#header .top_link>li {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

#header .top_link>li>a:hover {
    opacity: 0.6;
}

#header .top_link>li>img {
    display: block;
}


/* 서브메뉴 */
#gnb_wrap {
    text-align: center;
}


/* 서브공통 */
.submenu {
    z-index: 999;
    padding-top: 50px;
    box-sizing: border-box;
    height: 300px;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.submenu_inner {
    /*가운데*/
    width: 700px;
    margin: 0 auto;

}

.submenu_text {
    padding-top: 50px;
    float: left;
}

.submenu_photo {
    float: right;
}

.submenu_photo img {
    border-radius: 37px;
}


.submenu h3 {
    padding-bottom: 20px;
}

.submenu li a:hover {
    color: rgb(51, 97, 165);
}

/* 배너 */
#banner {
    height: 660px;
    background: url(../images/4_sub_aboutUs/0banner_img.jpg)no-repeat top center;
    position: relative;
}


.img_wrap img {
    width: 100%;
    display: block;
}

#banner>.cover {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 280px;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

#banner>.cover .dash {
    width: 50px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
}

#about_content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.section{
    width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
}
/* Who we are 시작 */
.intro {
    height: 520px;
    padding-top: 60px;
    position: relative;
    margin-top: 100px;
    font-size: 13px;
    /* background-color: bisque; */
}

h1 {
    padding-bottom: 20px;
    color: #3361A5;
}

.intro div:nth-child(3) {
    position: absolute;
    top: 230px;
    left: 320px;
}

.intro div:nth-child(3) img {
    border-radius: 115px;
}

.intro_t {
    width: 550px;
    height: 550px;
    border-radius: 500px;
    background-color: #F3F7FF;
    position: absolute;
    top: 0;
    right: 0;
}

.intro_text {
    margin: 220px 65px 0;
    text-align: center;
}

/* 로고 시작 */
.logo{
    text-align: center;
}
.logo h1{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 80px;
}
.icon{
    overflow: hidden;
}
.icon>li{
   vertical-align: middle;
   display: inline-block;
   padding-left: 50px;
}
.icon>li>p:nth-child(1){
    padding: 25px;
    width: 55px;
    height: 55px;
}
.icon>li>p:nth-child(1) img{
    width: 55px;
    height: 55px;
}
.logo_t{
    padding: 50px 5px 80px;
    font-size: 13px;
}
.logo_box{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 2px solid #bdbdbd;
    border-radius: 46px;
}

.logo1{
    margin-right: 180px;
    padding: 40px 30px;
}
.logo2{
    padding: 20px 70px;

}
.color{
    overflow: hidden;
    padding: 50px 0;
    width: 860px;
    margin: 0 auto;
    margin-bottom: 180px;
}
.color h2{
    font-weight: 600;
    font-size: 24px;
    color: #3361A5;
    padding-bottom: 15px;
}
.color h2:nth-child(1){
    float: left;
}
.color h2:nth-child(2){
    float: right;
}

.circle{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
.color_palette{
    margin-top: -30px;
}
.color_palette li{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 250px;
}

.color_palette li:nth-child(1){
    margin-left: 30px;
}
.color_palette li:nth-child(3){
    margin: 0;
}
.main{
    background-color: rgb(51, 97, 165);
}

.sub{
    background-color: #A2C4E6;
}

.sub2{
    background-color: #F0F0F1;
}

.color_t{
    padding-top: 50px;
    text-align: center;
}

#btn{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9;
}
#btn img{
    width: 16px;
    height: 16px;

}

.content_wrap{
    background-color: #F6F6F6;
    padding: 100px 0 ;
}

/* 제로웨이스트란 시작 */
.zw{
    width: 1200px;
    margin: 0 auto;
}
.zw ul{
    overflow: hidden;
    margin-top: 60px;
}
.zw ul li:nth-child(1){
    width: 660px;
    position: relative;
    padding-left: 20px;
    float: left;
}
.zw ul li:nth-child(1) p{
    margin-top: 120px;
    padding-left: 20px;
}
.zw_img1{
    margin-bottom: 55px;
}
.zw_img1 img{
    border-radius: 250px;
}

.zw_img2{
    position: absolute;
    bottom: 200px;
    right: 50px;
}
.zw_img2 img{
    border-radius: 65px;
}

.zw ul li:nth-child(2){
    padding-right: 25px;
    width: 480px;
    float: right;
}
.zw ul li:nth-child(2) p{
    margin-bottom: 20px;
}

/* how to zero waste 시작 */
.how{
    text-align: center;
}
.how ul{
     overflow: hidden;
     margin-top: 40px;
}
.how ul li{
    float: left;
    margin-right: 50px;
}
.how ul li img{
    border-radius: 90px;
}
.how ul li p{
    margin: 20px 0;
}
.how ul li:nth-child(5){
    margin: 0;
}

/* 키르켄의 제로웨이스트 */
.czw{
    margin-bottom: 180px;
}
.czw ul{
    overflow: hidden;
}
/* 프레임 배치 */
.czw .ul_top li{
    float: left;
    margin-right: 20px;
}
/* .czw .ul_top li:nth-child(2){
    margin-top: 110px;
    position: relative;
} */


.czw .ul_bottom li{
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}
.czw .ul_top li:nth-child(2){
    margin-top: 110px;
}
/* .czw .ul_top li img{
    display: inline-block;
} */

/* 모양 */
.czw .ul_top li:nth-child(1) img{
    border-radius: 0 0 80px 0;
}
.czw .ul_top li:nth-child(2) img{
    border-radius: 0 0 0 80px;
}
.czw .ul_bottom li:nth-child(1) img{
    border-radius: 80px 0 0 0;
}
.czw .ul_bottom li:nth-child(2) img{
    border-radius: 0 80px 0 0;
}
/* 텍스트 */
.czw .ul_top li:nth-child(3) ,
.czw .ul_top li:nth-child(4) {
    width: 280px;
    border-top: 1px solid #333;
}
.czw .ul_bottom li:nth-child(3) ,
.czw .ul_bottom  li:nth-child(4) {
    width: 280px;
    border-bottom: 1px solid #333;
}
.czw_photo .ul_top li:nth-child(3),
.czw_photo .ul_top li:nth-child(4),
.czw .ul_bottom li:nth-child(3) ,
.czw .ul_bottom  li:nth-child(4){
    text-align: right;
    padding: 10px 0;
    box-sizing: border-box;
}
.czw_t p{
    padding: 10px 0;
}
.font_style{
    font-size: 25px;
    font-weight: 600;
    color: #3361A5;
    padding: 8px 0;
}

/* 텍스트위치 */

.czw_photo .ul_top li:nth-child(3){
    margin-left: -300px;
}
.czw_photo .ul_top li:nth-child(4){
    margin-top: 110px;
    margin-left: -20px;
}
.czw_photo .ul_bottom li:nth-child(3){
    margin-right: -20px;
    margin-top: 199px;
    text-align: left;

}
.czw_photo .ul_bottom li:nth-child(4){
    margin-top: 29px;
    margin-right: -19px;
    text-align: left;
}

