@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./woff2/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}


::-moz-selection {
    background: #bcdefd;
    color: #2a2a2a;
}

::selection {
    background: #bcdefd;
    color: #2a2a2a;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 5px;
    /* 스크롤바의 길이 */
    background: #3361A5;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /*스크롤바 뒷 배경 색상*/
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

img {
    display: block;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    min-width: 1280px;
    color: #2a2a2a;
}

/* 헤더 */
.header_wrap {
    height: 75px;
    position: relative;
    /* background-color: #eee; */
}

#header {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

/* 헤더 왼쪽 */
#header .logo {
    width: 122px;
    height: 32px;
    float: left;
}

#gnb {
    display: inline-block;
}

/* 헤더 가운데 */
#gnb>li {
    font-family: 'Pretendard-midium';
    float: left;
}

#gnb>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 35px;
    margin-top: 7px;
    padding: 5px 20px 20px;
    font-weight: 600;
    /* background-color: pink; */
}

#gnb>li>a:hover {
    color: #3361A5;
}

/* 헤더 오른쪽 */
#header .top_link {
    float: right;
    padding-top: 10px;
}

#header .top_link>li {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

#header .top_link>li>a:hover {
    opacity: 0.6;
}

#header .top_link>li>img {
    display: block;
}


/* 서브메뉴 */
#gnb_wrap {
    text-align: center;
}


/* 서브공통 */
.submenu {
    z-index: 999;
    padding-top: 50px;
    box-sizing: border-box;
    height: 300px;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.submenu_inner {
    /*가운데*/
    width: 700px;
    margin: 0 auto;

}

.submenu_text {
    padding-top: 50px;
    float: left;
}

.submenu_photo {
    float: right;
}

.submenu_photo img {
    border-radius: 37px;
}


.submenu h3 {
    padding-bottom: 20px;
}

.submenu li a:hover {
    color: rgb(51, 97, 165);
}

.event_wrap{
    padding: 200px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.event_wrap h1{
    display: inline-block;
    border-bottom: 3px solid rgb(51, 97, 165);
}
.event_wrap ul{
    overflow: hidden;
    margin-top: 90px;
}
.event_wrap ul li{
    width: 590px;
    height: 290px;
    float: left;
    margin-right: 20px;
}
.event_wrap ul li:nth-child(2),
.event_wrap ul li:nth-child(4),
.event_wrap ul li:nth-child(6)
{
    margin: 0;
}
