@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./woff2/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}


* {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2A2A2A;
}

body {
    min-width: 1280px;
    font-size: 14px;
    line-height: 1.5em;
    color: #2A2A2A;
}

.header_wrap {
    height: 75px;
    position: relative;
    /* background-color: #eee; */
}

#header {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

/* 헤더 왼쪽 */
#header .logo {
    width: 122px;
    height: 32px;
    float: left;
}

#gnb {
    display: inline-block;
}

/* 헤더 가운데 */
#gnb>li {
    font-family: 'Pretendard-midium';
    float: left;
}

#gnb>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 35px;
    margin-top: 7px;
    padding: 5px 20px 12px;
    font-weight: 600;
    /* background-color: pink; */
}

#gnb>li>a:hover {
    color: #3361A5;
}

/* 헤더 오른쪽 */
#header .top_link {
    float: right;
    padding-top: 10px;
}

#header .top_link>li {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

#header .top_link>li>a:hover {
    opacity: 0.6;
}

#header .top_link>li>img {
    display: block;
}


/* 서브메뉴 */
#gnb_wrap {
    text-align: center;
}


/* 서브공통 */
.submenu {
    z-index: 999;
    padding-top: 50px;
    box-sizing: border-box;
    height: 300px;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.submenu_inner {
    /*가운데*/
    width: 700px;
    margin: 0 auto;

}

.submenu_text {
    padding-top: 50px;
    float: left;
}

.submenu_photo {
    float: right;
}

.submenu_photo img {
    border-radius: 37px;
}


.submenu h3 {
    padding-bottom: 20px;
}

/* .submenu li a:hover {
    color: #3361A5;
} */