*{margin: 0; padding: 0;}

.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
	}
.header-banner {
  height: 35px;
  text-align: center;
  background-color: #3361A5;
  transition: height .3s ease-out, opacity .3s ease 0.5s;
}
.top-banner{
  color: #fff;
  padding-top: 7px;
  box-sizing: border-box;
  font-size: 13px;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
/* .fa-xmark{
  color: #fff;
} */
#btn-banner-close{
  position:absolute;
  top: 8px;
  right: 0;
}
.banner-hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}